//variables
$color-primary: #1B2620;
$color-secundary: #7daf9225;
$color-accent: #FEF9F8;
$color-accent-green: #7daf92;


em,
i {
  font-style: normal;
}

body,
a,
button,
ul,
li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
    font-weight: 300;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $color-primary;
  font-size: 18px;
}

h1 {
  font-size: 4rem;
  margin-top: 0;
}

h2 {
  margin-top: 0;
}

p {
  line-height: 28px;
}

a {
  text-underline-position: under;
}

.button {
  padding: .5rem 1rem;
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;
  text-decoration: none;
  border: 0;
  display: inline-block;
  background-color: $color-accent;
  color: $color-primary;
  border: 1px solid $color-primary;
  text-align: center;

  &.-light {
    border: 0;

    &:hover {
      color: $color-primary;
      background-color: darken($color-accent, 5%);
    }
  }

  &.-big {
    border-radius: 15px;
    padding: 1.25rem 3rem;
    font-size: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-accent;
  }

}

.container {
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
  padding: 0 1rem;
  position: relative;
}

main {
  margin-top: 92px;

  &.container {
    padding-top: 5rem;
  }

  a:not(.button) {
    color: $color-primary;

    &:hover {
      color: $color-primary;
      color: lighten($color-primary, 15%);
    }

    &.active {
      font-weight: 700;
      color: lighten($color-primary, 15%);
      text-decoration: none;
    }
  }
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  font-weight: 200;
  background: $color-primary;

  //background: linear-gradient(135deg, $color-primary 0%, #233a2d9c 50%, #152D1Fcc 80%);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .c-logo {
    height: 60px;
    padding: 1rem 0;

    img {
      height: 100%;
      width: 100%;
    }
  }

  ul {
    list-style: none;

  }

  li {
    font-size: 1.5rem;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 3.5rem;
    }


    a {
      color: $color-accent;
      text-decoration: none;
      padding: 1rem;
      display: block;
      font-weight: 400;

      &:hover:not(.active) {
        color: darken($color-accent, 5%);
      }

      &:focus,
      &.active {
        text-decoration: underline;
        color: darken($color-accent, 5%);
      }
    }
  }
}

.banner {
  background-color: $color-primary;
  color: $color-accent;
  padding-top: 3rem;
  padding-bottom: 5rem; //2 when button is visible
  margin-bottom: 3rem;

  &__intro {
    text-align: center;
  }

  h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 5rem;
    letter-spacing: 6px;
  }

  p {
    font-size: 2rem;
    width: 81%;
    margin: auto;
    font-weight: 400;
    line-height: 3rem;
  }

  &__cta {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}



.subtitle {
  font-size: 2.5rem;
}

.categories {
  display: flex;
  justify-content: space-between;
}

.category-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;

  &__title {
    font-size: 1.5rem;
    font-weight: 400;
  }

  p {
    flex-grow: 1;
    margin-top: 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
  }

  .button {
    margin-top: 1rem;
    align-self: flex-end;
  }
}

.title-tooltip {
  display: inline-block;
  color: #7EBA19;
}

.intro {
  font-size: 1.25rem;
  line-height: 2rem;
  width: 66%;
}



.project-details {}


.about-me {
 &__meta {
   font-size: 1rem;
 }

 &__bottom-line {
   position: relative;

   img {
     position: absolute;
     transform: translateY(-15%);
     margin-left: 1rem;
     width: 160px;
   }
 }
}

.cv {
  margin-top: 5rem;
  &__title {
    border-bottom: 6px solid $color-accent;
    padding-bottom: 1rem;
    font-weight: 400;
  }

  &__title-meta {
    width: 30%;
    font-weight: 300;
    font-size: 2rem;
    margin-top: 0;
    margin-right: 3rem;
  }

  &__section {
    display: flex;
    justify-content: flex-start;
  }

  &__skills {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  &__skill {
    flex-basis: 20%;

     ul {
       list-style: none;
       font-weight: 300;

       li {
         margin-bottom: .5rem;
       }
     }
  }

  &__skill-title {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__timeline {
    font-weight: 300;
    flex-grow: 1;
  }

  &__timeline-item {
    display: flex;
    margin-bottom: 1.5rem;
  }

  &__timeline-item-title {
    flex-basis: 30%;
    font-weight: 400;
    margin-right: 1rem;
  }

   &__timeline-item-wg {
     font-weight: 300;
     color: lighten($color-primary, 25%);
   }
}

.download-btn {
  font-size: 1.25rem;
  float: right;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}

footer {
  background-color: $color-primary;
  color: $color-accent;
  margin-top: 5rem;
  padding: 1rem 0;
  bottom: 0;
  width: 100%;

  .team {
    display: flex;
    justify-content: space-around;
    margin: auto;

    &__tab {
      background-color: $color-primary;
      position: absolute;
      top: -3.75rem;
      padding: 1rem 1rem;
      font-size: .875rem;
      line-height: 1rem;
      font-weight: 700;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    &__member {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      padding: 1.5rem 0;
    }

    &__member-title {
      font-weight: 500;
    }
  }

  .contact {
    border-left: 1px solid #6A707B;
    margin: 1rem;
    padding: 1rem;
    align-self: center;

    &__email {
      display: block;
      margin-bottom: 1rem;
      text-decoration: none;
      color: $color-accent;

      &:hover {
        color: darken($color-accent, 5%);
      }
    }
  }

  img {
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    border: 5px solid $color-accent;
    margin-bottom: .5rem;
  }

  .contact-title {
    margin-bottom: 1rem;
    font-weight: 700;
  }

}

.mb1 {
  margin-bottom: 1rem;
}

.mr1 {
  margin-right: 1rem;
}

.ml1 {
  margin-left: 1rem;
}

.boxshadow {
  box-shadow: 10px 10px 14px -8px rgba(97, 91, 97, 1);
}


.c-project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7rem;

  &__description {
    max-width: 40%;
    margin: 0 4rem;

    &.-right {
      order: 1;
    }
  }

  &__ux-images {
    width: 45%;

    img {
      max-width: 100%; //breaks cocoen
    }
  }

  &__ui-images {
    width: 45%;
  }

  .max-w-100 {
    max-width: 100%;
  }

  .intro,
  p {
    width: 100%;
  }

}


//sliding library styling overrules
.slick-arrow:before {
  color: #365D90 !important;
}